/* Header.css */

.header {
    background-color: #A51C30;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .header h2 {
    margin: 0;
    color: white;
  }
  
  .logout-button, .login-link {
    color: white;
    background-color: #580C1F;
    padding: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  .logout-button:hover, .login-link:hover {
    background-color: #580C1F;
  }
  